# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

Some of the popular data science languages are:<br>
*Python <br>
*R <br>
*SQL <br>
*Java <br>

Some of the commonly used libraries used by Data Scientists include:
1. Pytorch
2. Numpy
3. Scikit
4. Pandas

Data Science Tools<br>----------------------br>Apache Spark <br>Tensorflow <br> Pytorch<br>

### Below are a few examples of evaluating arithmetic expressions in Python
3+3<br>
4-1

In [20]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [21]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

Author
## Muhammad Owais